
@charset "UTF-8";

body {
  font-family:'Yu Mincho','YuMincho','Yu Mincho','游明朝体', serif;
  margin: 50px;

}

h1 {
  font-weight: bold;
}

th {
  text-align: left;
}

/* table {
  width: 180px;
}




tr {
   display: flex;
 }


td {
  display: inline-block;
  text-align: right;
  width: 130px;

} */

button {
  display: inline-block;
}

.p-radio-bottom {
  display: block;
  margin-bottom: 10px;
}